<div class="container">
    
    <div class="content">
        <div class="container2">
            <div class="left-text">
                <h1>PORTAFOLIO</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero hic nulla reprehenderit vel, possimus aperiam? Sapiente nihil veritatis, ducimus doloribus
                     placeat enim dignissimos facilis architecto aliquid impedit maiores ab! Maiores.</p>
                <h2>MODELOS</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis placeat odit vitae reiciendis veniam, deserunt debitis distinctio eligendi itaque corporis et perspiciatis similique neque,
                     molestias repudiandae temporibus, tempore dignissimos error.</p>
            </div>
            <div class="right-text">
                <div class="pic-ctn">
                    <img src="https://picsum.photos/200/300?t=1" alt="" class="pic">
                    <img src="https://picsum.photos/200/300?t=2" alt="" class="pic">
                    <img src="https://picsum.photos/200/300?t=3" alt="" class="pic">
                    <img src="https://picsum.photos/200/300?t=4" alt="" class="pic">
                    <img src="https://picsum.photos/200/300?t=5" alt="" class="pic">
                </div>
            </div>
        </div>
    </div>
</div>