<div class="container">
    <div class="content">
        
        <div class="container2">
            <div class="left-text">
                <h1>SERVICIOS</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero hic nulla reprehenderit vel, possimus aperiam? Sapiente nihil veritatis, ducimus doloribus
                     placeat enim dignissimos facilis architecto aliquid impedit maiores ab! Maiores.
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis placeat odit vitae reiciendis veniam, deserunt debitis distinctio eligendi itaque corporis et perspiciatis similique neque,
                     molestias repudiandae temporibus, tempore dignissimos error.
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis placeat odit vitae reiciendis veniam, deserunt debitis distinctio eligendi itaque corporis et perspiciatis similique neque,
                     molestias repudiandae temporibus, tempore dignissimos error.
                     </p>
            </div>
            <div class="right-text">
                
                <div class="imagen-servicios">
                    <img src="/assets/imagenes/foto-servicios.jpg" width="335px" 
                     alt="">
                </div>
                <div class="imagen-servicios2">
                    <img src="/assets/imagenes/foto-servicios2.jpg" width="335px">
                </div>
                
                
            </div>
        </div>
    </div>
</div>