<div class="container">
   
    <div class="content">
        
        
        <div class="container2">
            <div class="left-text">
                <h1>BIENVENIDOS</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero hic nulla reprehenderit vel, possimus aperiam? Sapiente nihil veritatis, ducimus doloribus
                     placeat enim dignissimos facilis architecto aliquid impedit maiores ab! Maiores.</p>
                <h2>MODELOS</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis placeat odit vitae reiciendis veniam, deserunt debitis distinctio eligendi itaque corporis et perspiciatis similique neque,
                     molestias repudiandae temporibus, tempore dignissimos error.</p>
            </div>
            <div class="right-text">
                
                <div class="imagen-durazno">
                    <img src="/assets/imagenes/modelo_durazno.jpg" 
                    style="
                    border-radius: 15px;
                    box-shadow: 10px 5px 5px rgb(132, 129, 129);
                    "
                     alt="modelo con vestido color durazno">
                </div>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laudantium, optio laboriosam, nobis enim labore unde et aperiam quasi tempore officiis eos,
                     molestiae asperiores dolorum velit sint corrupti inventore voluptate!</p>
            </div>
        </div>
    </div>

</div>